

.navBar{
    display: flex;
    height: 100px;
    /*Alinham no meio da navBar*/
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    
}

.navBar a{
    text-decoration: none;
    font-size: 25px;
    padding: 10px; /*Cima direita baixo esquerda*/
    background-image: linear-gradient(to right, red, blue); /* Aplica uma imagem de fundo personalizada */
    background-clip: text; /* Faz a imagem de fundo seguir o contorno das letras */
    -webkit-background-clip: text; /* Suporte para navegadores WebKit (por exemplo, Safari) */
    color: transparent; /* Torna o texto transparente para mostrar apenas a imagem de fundo */
    transition: color 0.8s ease ;
    
}

.navBar a:hover{
    color: white;
}


@media(max-width: 1080px)
{
    .navBar{
        display:flex;
        margin-right: 200px;/*Gambiarra por enquanto*/
        /*Alinham no meio da navBar*/
        align-items: center;
        justify-content:center;
        height: 200px;
        padding: 0 60px;
        
    }

    .navBar a{
        text-decoration: none;
        font-size: 50px;
        padding: 10px; /*Cima direita baixo esquerda*/
        background-image: linear-gradient(to right, red, blue); /* Aplica uma imagem de fundo personalizada */
        background-clip: text; /* Faz a imagem de fundo seguir o contorno das letras */
        -webkit-background-clip: text; /* Suporte para navegadores WebKit (por exemplo, Safari) */
        color: transparent; /* Torna o texto transparente para mostrar apenas a imagem de fundo */
        transition: color 0.8s ease ;
        
        
        
    }
}
