
.container{
    display:flex; /* Define o container como flexível */
    align-items: center; /* Alinha os elementos verticalmente */
    border: 2px solid rgb(101, 25, 252);
    /*Essas tres propriedades ajustam o container na pagina*/
    max-height: 350px;
    max-width: 800px;
    margin-left: 400px;
    border-radius: 10px;
    
}

.image{
    margin-top: 0;/*Essas duas propriedades ajustam a imagem dentro do container*/
    margin-left: 0;
    width: 150px;
    height: auto;
    border-radius: 7.5px;
}

.escrita{
    font-size: 16px;
    padding: 0 10px;
    color: white;
    text-align: justify;
}

@media(max-width: 1080px)
{
    .container{
        display: flex; /* Define o container como flexível */
        align-items: center; /* Alinha os elementos verticalmente */
        flex-direction: column;
        border: 2px solid rgb(101, 25, 252);
        /*Essas tres propriedades ajustam o container na pagina*/
        max-height: 800px;
        max-width: 800px;
        margin-left: 0px;
        border-radius: 10px;
        
    }
    .image{
        margin-top: 20px;/*Essas duas propriedades ajustam a imagem dentro do container*/
        margin-left: 0;
        width: 250px;
        height: auto;
        border-radius: 7.5px;
        
    }

    .escrita{
        font-size: 30px;
        padding: 0 10px;
        color: white;
        text-align: center;
    }
}
