

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    margin-top: 25px;
}

.estiloForm{
    /*Background do form deixando a imagem mais gradiente para não ficar tão forte*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./wp8719112-cyberpunk-night-city-wallpapers.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 80vh;/*Ocupa só esse espaço na tela*/
    width: 80vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estiloForm label {
    font-size: 1.2em; /* 1.2 vezes o tamanho da fonte base, ou seja, 19.2 pixels */
    padding: 3px;
  }
  
  .estiloForm input,
  .estiloForm textarea
{
    font-size: 1.2em; /* mesmo tamanho da fonte base, ou seja, 16 pixels */
    width: 400px;
    margin: 5px;
    padding: 3px;
    
}

.divbotaoEnviar{
    display: flex;
    margin-top: 30px;
    height: 40px;
    width: 125px;
    margin: 0 auto;
    justify-content: center;
    
}

.botaoEnviar{
    cursor: pointer;
    background-color: rgb(101, 25, 252);
    color: white;
    width: 200px;
    font-size: larger;
    border-radius: 5px;
    
    /* Adicionar efeito de hover */
  transition: background-color 0.8s ease;
}

.botaoEnviar:hover{
    background-color: black;
}



@media(max-width:1080px)
{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
    }
    
    .estiloForm{
        /*Background do form deixando a imagem mais gradiente para não ficar tão forte*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./wp8719112-cyberpunk-night-city-wallpapers.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        height: 135vw;/*Ocupa só esse espaço na tela*/
        width: 100%;/*preciso debugar aqui*/
        font-size: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .estiloForm label {
        font-size: 1.2em; /* 1.2 vezes o tamanho da fonte base, ou seja, 19.2 pixels */
        padding: 3px;
      }
      
      .estiloForm input,
      .estiloForm textarea
    {
        font-size: 1.2em; /* mesmo tamanho da fonte base, ou seja, 16 pixels */
        width: 600px;
        margin: 5px;
        padding: 3px;
        
    }
    
    .divbotaoEnviar{
        display: flex;
        margin-top: 30px;
        height: 80px;
        width: 250px;
        margin: 0 auto;
        justify-content: center;
        margin-top: 25px;
        
    }
    
    .botaoEnviar{
        cursor: pointer;
        background-color: rgb(101, 25, 252);
        color: white;
        width: 400px;
        font-size: larger;
        border-radius: 5px;
        
        /* Adicionar efeito de hover */
      transition: background-color 0.8s ease;
    }
    
    .botaoEnviar:hover{
        background-color: black;
    }
    
    h2{
        text-align:center ;
    }
    
}