
.container{
    display: flex;
    justify-content: space-between;/*Essa propriedade alinha eles horizontalmente, sem precisar ficar empurrando da margem esquerda*/
    
}

.box1{
    /*Essas três propriedades alinhas o texto no centro*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px groove rgb(101, 25, 252);
    border-radius: 10px;
    max-height:fit-content;
    width: 400px;
    margin-top: 150px;
    margin-left: 30px;
    
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px groove rgb(101, 25, 252);
    border-radius: 10px;
    max-height:fit-content;
    width: 400px;
    margin-top: 150px;
    
    
}
.box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px groove rgb(101, 25, 252);
    border-radius: 10px;
    max-height:fit-content;
    width: 400px;
    margin-top: 150px;
    margin-right: 30px;
    
}

.escrita{
    padding: 0 3px;
    text-align: center;
    margin-top: 4px;
}

/*Links*/

.escrita a{
    text-decoration: none; /* Remove a decoração padrão do link */
    background-image: linear-gradient(to right, red, blue); /* Aplica uma imagem de fundo personalizada */
    background-clip: text; /* Faz a imagem de fundo seguir o contorno das letras */
    -webkit-background-clip: text; /* Suporte para navegadores WebKit (por exemplo, Safari) */
    color: transparent; /* Torna o texto transparente para mostrar apenas a imagem de fundo */
    transition: color 0.8s ease ;

}

.escrita a:hover {  
    color: white;
}



@media(max-width: 1080px)
{
    .container{
        
        display: flex;
        justify-content:center;/*Essa propriedade alinha eles horizontalmente, sem precisar ficar empurrando da margem esquerda*/
        flex-direction: column;/*Alterado aqui*/
        align-items: center; /*Alterado aqui*/

    }
    
    .box1{
        /*Essas três propriedades alinhas o texto no centro*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px groove rgb(101, 25, 252);
        border-radius: 10px;
        max-height:fit-content;
        width: 900px;
        margin: 40px auto; /* Adicionado para centralizar horizontalmente */
        margin-top: 150px;
        
        
        
    }
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px groove rgb(101, 25, 252);
        border-radius: 10px;
        max-height:fit-content;
        width: 900px;
        margin-top: 150px;
        margin: 40px auto; /* Adicionado para centralizar horizontalmente */
        
    }
    .box3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px groove rgb(101, 25, 252);
        border-radius: 10px;
        max-height:fit-content;
        width: 900px;
        margin: 40px auto;
        
    }
    
    .escrita{
        padding: 25px;
        text-align: center;
        margin-top: 4px;
        font-size: 45px; /*Alterado aqui*/
    }
    
    /*Links*/
    
    .escrita a{
        text-decoration: none; /* Remove a decoração padrão do link */
        background-image: linear-gradient(to right, red, blue); /* Aplica uma imagem de fundo personalizada */
        background-clip: text; /* Faz a imagem de fundo seguir o contorno das letras */
        -webkit-background-clip: text; /* Suporte para navegadores WebKit (por exemplo, Safari) */
        color: transparent; /* Torna o texto transparente para mostrar apenas a imagem de fundo */
        transition: color 0.8s ease ;
        font-size: 45px; /*Alterado aqui*/
    
    }
    
    .escrita a:hover {  
        color: white;
    }
    
}